services:
  app:
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      DB_CONNECTION: mysql
      DB_HOST: 103.121.122.196
      DB_PORT: 3306
      DB_DATABASE: dbsja
      DB_USERNAME: abdul
      DB_PASSWORD: aq1sw2de3
      SESSION_DRIVER: file
      SESSION_SECURE_COOKIE: "false"
      CACHE_STORE: file
      WAYFINDER_DISABLE: "true"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./:/var/www/html
      - storage-data:/var/www/html/storage
      - ./docker/php/opcache.ini:/usr/local/etc/php/conf.d/opcache.ini
      - /var/www/html/vendor
      - /var/www/html/node_modules
    command: sh -c "php artisan optimize:clear && /usr/bin/supervisord -c /etc/supervisor/conf.d/supervisord.conf"
  vite:
    image: node:20-alpine
    working_dir: /var/www/html
    environment:
      WAYFINDER_DISABLE: "true"
    command: ["npm","run","dev","--","--host","0.0.0.0","--port","5173"]
    ports:
      - "5173:5173"
    volumes:
      - ./:/var/www/html
    depends_on:
      - app
  queue:
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
    volumes:
      - ./:/var/www/html
      - storage-data:/var/www/html/storage
